<section *ngIf="isLoadData">
    <h2>Tratamientos de {{ pet.nombre }}</h2>
    
    <!-- Tabla de tratamientos -->
    <table class="table">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Veterinario</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tratamiento of pet.tratamientos">
            <td>{{ tratamiento.descripcion }}</td>
            <td>{{ tratamiento.fechaInicio | date }}</td>
            <td>{{ tratamiento.fechaFin | date }}</td>
            <td>{{ tratamiento.veterinario?.nombre }}</td>
            <td>{{ tratamiento.observaciones }}</td>
          </tr>
        </tbody>
      </table>
  
      <button class="btn btn-success" [routerLink]="['/veterinario/agregar/tratamiento/mascota', pet.id]">
        Crear Tratamiento
    </button>
      
  </section>
  