<!-- información del cliente -->
<section class="main-info">
    <!-- Imagend el cliente -->
     <img [src]="customerSelected.fotoString" [alt]="'Foto de ' + customerSelected.nombre">

    <article class="box-info">
        <!-- titulo -->
        <h1>Información de {{ customerSelected.nombre }}</h1>
        <!-- información -->

        <div class="celda">
            <h3 class="title-celda">Nombre</h3>
            <p class="celda-info">{{ customerSelected.nombre }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">Cedula</h3>
            <p class="celda-info">{{ customerSelected.cedula }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">Correo</h3>
            <p class="celda-info">{{ customerSelected.correo }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">Dirección</h3>
            <p class="celda-info">{{ customerSelected.direccion }}</p>

        </div>
        <div class="celda">
            <h3 class="title-celda">Celular</h3>
            <p class="celda-info">{{ customerSelected.celular }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">ID</h3>
            <p class="celda-info">{{ customerSelected.id }}</p>

        </div>
        <!-- botones -->
        <a type="button" class="btn btn-success"
            th:href="@{/veterinario/clientes/update/{id}(id=${cliente.id})}">Modificar</a>
    </article>
</section>

<!-- Tarjetas de mascotas -->
<H2>Mascotas</H2>
<section class="cards-main" id="mascotas">
    <article class="cards">
        <div class="mascota" *ngFor="let mascota of mascotas">
            <a [routerLink]="['/veterinario/detalles-mascota', mascota.id]" title="Detalles">
                <!-- Aquí puedes agregar una imagen si las mascotas tienen asociada una -->
                <img [src]="mascota.fotoString" alt="Imagen de mascota" height="100" weidth="100">
                <h3>{{mascota.nombre}}</h3>
                <p>{{mascota.raza}}</p>
            </a>
        </div>
    </article>
    <div>
        <a type="button" [routerLink]="['/veterinario/mascotas/add', customerSelected.id]" title="Añadir Mascota">
            <i class="fa-solid fa-circle-plus"></i>
        </a>
    </div>
</section>