<h1>{{ operation | titlecase }} mascota de {{ customer.nombre }}</h1>

<!-- Formulario -->
<form #petForm="ngForm" (ngSubmit)="savePet(petForm)">
    <div class="form-floating mb-3">
        <input [(ngModel)]="formPet.nombre" type="text" class="form-control" id="floatingInput"
            placeholder="Nombre" name="nombre">
        <label for="nombre">Nombre</label>
    </div>
    <div class="form-group">
        <label for="sexo">Sexo de la mascota</label>
        <select class="form-select form-control" [(ngModel)]="formPet.sexo" id="sexo" name="sexo">
            <option value="" disabled selected>Elegir sexo</option>
            <option value="Macho">Macho</option>
            <option value="Hembra">Hembra</option>
        </select>

    </div>
    <br>
    <div class="form-floating mb-3">
        <input [(ngModel)]="formPet.raza" type="text" class="form-control" id="floatingInput"
            placeholder="Raza" name="raza">
        <label for="floatingInput">Raza</label>
    </div>

    <div class="form-floating mb-3">
        <input [(ngModel)]="formPet.fechaNacimiento" type="date" class="form-control" id="floatingInput"
            placeholder="Ingresa la fecha" name="fechaNacimiento">
        <label for="floatingInput">Fecha de nacimiento</label>
    </div>

    <div class="form-floating mb-3">
        <input [(ngModel)]="formPet.fotoString" type="text" class="form-control" id="floatingInput"
            placeholder="Ingresa URL de la foto" name="fotoString">
        <label for="floatingInput">Foto URL</label>
    </div>

    <div class="mn-center-row">
        <button (click)="pageBack()"
            class="btn btn-danger">Volver</button>
        <button type="submit" [disabled]="!petForm.form.valid" class="btn btn-primary">{{ operation | titlecase}}</button>
    </div>

</form>