<div class="section-card" style="width: 100%; height: 100%;">
    <h1 *ngIf="customerSelected">Información de {{ customerSelected.nombre }}</h1>

    <section class="flex-row gap-30" style="height: 100%;">
        <section *ngIf="customerSelected" class="card-info">

            <img *ngIf="customerSelected.fotoString !== null" [src]="customerSelected.fotoString" [alt]="">
            
            <article class="box-info flex-column">
                <div class="celda">
                    <p>{{ customerSelected.cedula }}</p>
                </div>
        
                <div class="celda">
                    <p>{{ customerSelected.correo }}</p>
                </div>
        
                <div class="celda">
                    <p>{{ customerSelected.celular }}</p>
                </div>
        
                <div class="celda">
                    <p>{{ customerSelected.direccion }}</p>
                </div>
        
            </article>
        
            <section class="box-buttons flex-row  gap-10">
                <button class="btn btn-primary" [routerLink]="['/veterinario/actualizar/cliente', customerSelected.id]">
                    Actualizar
                </button>        
            
                <button class="btn btn-danger" (click)="deleteCustomer(customerSelected.id)">
                    Eliminar
                </button>
            </section>
        </section>
        
        <section class="card-details">
            <h2>Mascotas</h2>
        
            <section class="card-items-info" *ngIf="customerSelected">
                <section class="scroll-cards">
                    <div *ngFor="let mascota of customerSelected.mascotas" class="card-pet">
                    <img [src]="mascota.fotoString" alt="Foto de mascota" [routerLink]="['/veterinario/detalles/mascota', mascota.id]">
                        <h3 class="h3ListMascotas">{{ mascota.nombre }}</h3>
                    </div>
                </section>
        
            </section>    
            <button class="btn btn-primary flex-row" [routerLink]="['/veterinario/agregar/mascota/cliente/', customerSelected.id]" title="Añadir Mascota">
                Agregar
             </button>
        </section>
    
    </section>
    
</div>
