<section>
    <div id="inicio">
        <app-navbar></app-navbar> 
        <header>
            <section class="box-foto">
                <img src="images/gato1.png" alt="Foto de Maru" width="100" height="auto">
            </section>
    
            <section class="box-slogan">
                <p>Cuidamos a tus mascotas como si fueran nuestras</p>
            </section>
        </header>

        <main class="main-second">
            <app-services-page></app-services-page>
            <app-about></app-about>
        </main>
        <app-contact></app-contact>
    </div>
</section>
