.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.dashboard-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

}

.chart-container {
  position: relative;
  height: 200px;
  margin-top: 20px;

}

.chart-circle {
  position: relative;
  height: 500px;
  margin-top: 20px;

}

h1 {
  color: #4A4A4A;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  color: #5E548E;
  margin-bottom: 15px;
}

h3 {
  color: #7B7B7B;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
  