<app-shared-header [navLinks]="[
    { path: '/administrador/medicamentos', label: 'Medicamentos' },
    { path: '/administrador/veterinario', label: 'Veterinario' },
    { path: '/administrador/dashboard', label: 'Dashboard' }
]" [logoutRedirectUrl]="'/login'"></app-shared-header>

<div class="container">
  <header>
    <h1 id="h1DashboardAdmin">Dashboard Administrador - Veterinario</h1>
  </header>

  <div class="dashboard-grid">
    <div class="dashboard-item">
      <h2>Gráfico de Tratamientos</h2>
      <canvas id="myChart" width="400" height="400">{{ chart }}</canvas>
    </div>
  </div>
</div>
