<section class="items_table">
    <div class="tableCenter" *ngFor="let item of items">
    <img *ngIf="item.fotoString" [src]="item.fotoString" width="90" height="90" [alt]="'Foto de ' + item.nombre">
    <img *ngIf="typeObject === 'tratamientos'" [src]="item.mascota?.fotoString" width="90" height="90">
        <div>
            <h2 *ngIf="typeObject !== 'tratamientos'">{{ item.nombre }}</h2>
            <p *ngIf="typeObject === 'tratamientos'">Descipción: {{ item.descripcion }}</p>
            <p *ngIf="typeObject === 'tratamientos'">Droga: {{ item.droga?.nombre }}</p>
            <p *ngIf="typeObject === 'clientes'">CC: {{ item.cedula }}</p>
            <p *ngIf="typeObject === 'mascotas'">Raza: {{ item.raza }}</p>
            <p *ngIf="typeObject === 'veterinarios'">Especialidad: {{ item.especialidades }}</p>
        </div>
        <div class="info">
            <a [routerLink]=" dynamicActionUrl + typeObject.slice(0, -1) + '/' + item.id" title="Detalles">
                <button class="btn btn-dark">
                    <i class="fa-solid fa-circle-info"></i>
                </button>
            </a>
            <button class="btn btn-danger" (click)="deleteItem(item)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
</section>