<!-- HEADER -->
<header>
    <!-- Navbar -->
    <div class="logout-layout">
        <a type="button" (click)="logout()" title="Logout">
            <img src="/images/logout.png" alt="logout" width="45px">
        </a>
    </div>
        <nav>
            <ul>
                <li><a [routerLink]="['/veterinario/tratamientos']" routerLinkActive="active">Tratamientos</a></li>
                <li><a [routerLink]="['/veterinario/mascotas']" routerLinkActive="active">Mascotas</a></li>
                <li><a [routerLink]="['/veterinario/clientes']" routerLinkActive="active">Clientes</a></li>
            </ul>
        </nav>
</header>