<section id="about">
    <p class="title"> La Historia de John The Cat</p>
    <p class="textos">En el año 2024, en Bogotá, Colombia, nació <span>John The Cat</span>, una veterinaria
        fundada por un
        grupo de amigos
        apasionados por los animales y la tecnología. La idea surgió de la necesidad de un lugar que combinara
        atención médica de calidad con innovaciones tecnológicas, creando una experiencia integral para las
        mascotas y sus dueños.</p>

    <p class="subtitulo">Nuestra Misión y Valores</p>
    <p class="textos"><span>John The Cat</span> abrió sus puertas con la misión de ofrecer un cuidado integral y
        personalizado para cada
        mascota. Nos comprometemos a:</p>

    <div class="cards-container">
        <div class="card">
            <img src="../images/calidad.jfif" alt="Calidad Médica">
            <h3>Calidad Médica</h3>
            <p>Proporcionar la mejor atención veterinaria, utilizando las últimas tecnologías y tratamientos.</p>
        </div>
        <div class="card">
            <img src="../images/innovacion.jpg" alt="Innovación Tecnológica">
            <h3>Innovación Tecnológica</h3>
            <p>Integrar herramientas tecnológicas como aplicaciones móviles para seguimiento de la salud, recordatorios
                de citas y telemedicina.</p>
        </div>
        <div class="card">
            <img src="../images/bienestar.jfif" alt="Bienestar Integral">
            <h3>Bienestar Integral</h3>
            <p>Crear un ambiente acogedor y libre de estrés para nuestras mascotas y sus dueños.</p>
        </div>
        <div class="card">
            <img src="../images/compromiso.jpg" alt="Compromiso Comunitario">
            <h3>Compromiso Comunitario</h3>
            <p>Participar activamente en programas de adopción y educación sobre el cuidado responsable de mascotas.</p>
        </div>
    </div>
    <hr>

    <p class="subtitulo">El Legado de John</p>
    <p class="textos">El nombre <span>John The Cat</span> es un homenaje a un gato especial que inspiró nuestra
        visión.
        Cada día, nos
        esforzamos por honrar su legado, ofreciendo un lugar donde las mascotas son tratadas con amor, respeto y
        la mejor atención posible.</p>

</section>