<h1>{{ operation | titlecase }} Veterinario</h1>

<!-- Formulario -->
<form #vetForm="ngForm" (ngSubmit)="saveVet(vetForm)">
  
  <!-- Campo Nombre -->
  <div class="form-floating mb-3">
    <input [(ngModel)]="veterinary.nombre" name="nombre" required type="text" class="form-control" id="floatingInput"
      placeholder="Ingresa tu nombre">
    <label for="floatingInput">Nombre</label>
  </div>

  <!-- Campo Cédula -->
  <div class="form-floating mb-3">
    <input [(ngModel)]="veterinary.cedula" name="cedula" required type="text" class="form-control" id="cedula"
      placeholder="Ingresa tu cédula">
    <label for="cedula">Cédula</label>
  </div>

  <!-- Campo Correo -->
  <div class="form-floating mb-3">
    <input [(ngModel)]="veterinary.correo" name="correo" required type="email" class="form-control" id="correo"
      placeholder="Ingresa tu correo">
    <label for="correo">Email</label>
  </div>

  <!-- Campo Foto (URL) -->
  <div class="form-floating mb-3">
    <input [(ngModel)]="veterinary.fotoString" name="fotoString" type="text" class="form-control" id="fotoString"
      placeholder="Ingresa URL de la foto">
    <label for="fotoString">Foto URL</label>
  </div>

  <br>

 
    <button type="button" (click)="pageBack()" class="btn btn-danger">Volver</button>
    <button type="submit" [disabled]="!vetForm.form.valid" class="btn btn-primary">{{ operation | titlecase }}</button>


</form>
