<h1 class="text-center">{{ operation | titlecase }} Veterinario</h1>

<form #vetForm="ngForm" (ngSubmit)="saveVet(vetForm)" class="container mt-4">

  <div class="row  g-3">
    <!-- Campo Nombre -->
    <div class="col mb-3">
      <input [(ngModel)]="formVeterinario.nombre" name="nombre" required type="text" class="form-control" id="nombre"
        placeholder="Ingresa tu nombre">
    </div>

    <!-- Campo Cédula -->
    <div class="col mb-3">
      <input [(ngModel)]="formVeterinario.cedula" name="cedula" required type="text" class="form-control" id="cedula"
        placeholder="Ingresa tu cédula">
    </div>
  </div>
  <div class="row  g-3">
    <!-- Campo Correo -->
    <div class="col mb-3">
      <input [(ngModel)]="formVeterinario.correo" name="correo" required type="email" class="form-control" id="correo"
        placeholder="Ingresa tu correo">
    </div>

    <!-- Campo Foto (URL) -->
    <div class="col mb-3">
      <input [(ngModel)]="formVeterinario.fotoString" name="fotoString" type="text" class="form-control" id="fotoString"
        placeholder="Ingresa URL de la foto">
    </div>
  </div>
  <div class="row  g-3">
    <!-- Selección de Especialidad -->
   <!-- Selección de Especialidad -->
   <div class="col mb-3">
    <label for="especialidadSelect" class="form-label">Especialidad</label>
    <select [(ngModel)]="selectedEspecialidad" name="especialidad" required class="form-select" id="especialidadSelect">
      <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad">
        {{ especialidad.nombre }}
      </option>
    </select>
  </div>
    
  </div>
  <!-- Botones de Acción -->

  <div class="mn-center-row">
    <button type="button" (click)="pageBack()" class="btn btn-danger">Volver</button>
    <button type="submit" [disabled]="!vetForm.form.valid" class="btn btn-primary">{{ operation | titlecase }}</button>
  </div>
</form>