<main>
    <!-- Información del cliente -->
    <section class="main-info">
        <!-- Imagen de la mascota -->
        <img [src]="mascota.fotoString" [alt]="'Foto de ' + mascota.nombre">

        <article class="box-info">
            <!-- Título -->
            <h1>Información de {{ mascota.nombre }}</h1>
            
            <!-- Información -->
            <div class="celda">
                <h3 class="title-celda">Nombre</h3>
                <p class="celda-info">{{ mascota.nombre }}</p>
            </div>
            
            <div class="celda">
                <h3 class="title-celda">Dueño</h3>
                <p class="celda-info" *ngIf="mascota.duenho">{{ mascota.duenho }}</p>
                <p class="celda-info" *ngIf="!mascota.duenho">Dueño no asignado</p>
            </div>
            
            <div class="celda">
                <h3 class="title-celda">Sexo</h3>
                <p class="celda-info">{{ mascota.sexo }}</p>
            </div>
            
            <div class="celda">
                <h3 class="title-celda">Raza</h3>
                <p class="celda-info">{{ mascota.raza }}</p>
            </div>
            
            <div class="celda">
                <h3 class="title-celda">Fecha de Nacimiento</h3>
                <p class="celda-info">{{ mascota.fechaNacimiento }}</p>
            </div>
            
            <div class="celda">
                <h3 class="title-celda">ID</h3>
                <p class="celda-info">{{ mascota.id }}</p>
            </div>

            <!-- Botones -->
            <a type="button" class="btn btn-dark" href="#cards">Tratamientos</a>
            <a type="button" class="btn btn-success" [routerLink]="['/veterinario/mascotas/update', mascota.id]">Modificar</a>
            <a type="button" class="btn btn-danger" [routerLink]="['/veterinario/mascotas/delete', mascota.id]" title="Eliminar">
                <i class="fa-solid fa-trash-can"></i>
            </a>
        </article>
    </section>
</main>
