<app-shared-header></app-shared-header>

<main>
    <ng-container *ngIf="typeEntity === 'mascota'">
        <app-pet-form [customer]="customerSelected" [petUpdated]="petSelected"
            [operation]="typeOperation" (addPetEvent)="saveEntity($event)">
        </app-pet-form>
    </ng-container>

    <ng-container *ngIf="typeEntity === 'cliente'">
        <app-customer-form [customer]="customerSelected"
            [operation]="typeOperation" (addCustomerEvent)="saveEntity($event)">
        </app-customer-form>    
    </ng-container>
</main>