<!-- información del cliente -->
<section *ngIf="petSelected" class="card-info">
    <!-- Imagen de la mascota -->
    <img [src]="petSelected.fotoString" [alt]="'Foto de ' + petSelected.nombre">

    <article class="box-info">
        <!-- titulo -->
        <h1>Información de {{ petSelected.nombre }}</h1>
        <!-- información -->
        <div class="celda">
            <h3 class="title-celda">Nombre</h3>
            <p class="celda-info">{{ petSelected.nombre }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">Dueño</h3>
            <p class="celda-info"> {{ petSelected.cliente?.nombre }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">Sexo</h3>
            <p class="celda-info">{{ petSelected.sexo }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">Raza</h3>
            <p class="celda-info">{{ petSelected.raza }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">Enfermedad</h3>
            <p class="celda-info">{{ petSelected.enfermedad }}</p>
        </div>
        <div class="celda">
            <h3 class="title-celda">ID</h3>
            <p class="celda-info">{{ petSelected.id }}</p>
        </div>

        <!-- botones -->
        <button class="btn btn-success" (click)="updatePet()">
            Modificar
        </button>

        <button class="btn btn-danger" (click)="deletePet(petSelected.id)">
            Eliminar
        </button>
    </article>

</section>

<h2>Tratamientos</h2>
<section *ngIf="petSelected">

    <!-- Tabla de tratamientos -->
    <table class="table">
        <thead>
          <tr>
            <th>Descripción</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Veterinario</th>
            <th>Observaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tratamiento of petSelected.tratamientos">
            <td>{{ tratamiento.descripcion }}</td>
            <td>{{ tratamiento.fechaInicio | date }}</td>
            <td>{{ tratamiento.fechaFin | date }}</td>
            <td>{{ tratamiento.veterinario?.nombre }}</td>
            <td>{{ tratamiento.observaciones }}</td>
            <td>
                <button class="btn-mini btn-danger" (click)="deleteItem(tratamiento)">
                    <i class="fa-solid fa-trash-can"></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
  
      <button class="btn btn-success" [routerLink]="['/veterinario/agregar/tratamiento/mascota', petSelected.id]" title="Añadir Trataminento">
        Crear Tratamiento
    </button>
      
  </section>
  