<!-- Footer -->
<footer id="footer">
    <article id="footerLeft">
        <p class="titleFooter">Contáctanos</p>
        <div class="fleft" id="ContactFooter">

            <a href="mailto:jonhthecat@gmail.com" target="_blank">
                <i class="fa-regular fa-envelope"></i>
                jonhthecat&#64;gmail.com
            </a>

            <a href="https://wa.me/5491161234567" target="_blank">
                <i class="fa-brands fa-whatsapp"></i>
                390 9287671
            </a>

        </div>

        <p class="titleFooter">Horarios de Atención</p>
        <div class="fleft" id="HorarioFooter">

            <p>24 Horas 7 Días a las semana</p>

            <p>Carrera 15 #93-60, Chapinero, Bogota</p>
        </div>
    </article>

    <article id="footerCenter">

        <img src="../images/Logo-invertido.png" alt="Logo-invertido" width="100" height="auto">
        <p class="titleFooter2">Redes Sociales</p>
        <div id="RedesFooter">

            <a href="https://www.facebook.com/" target="_blank" title="Facebook">
                <i class="fa-brands fa-facebook"></i>
            </a>

            <a href="https://www.instagram.com/" target="_blank" title="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>

            <a href="https://twitter.com/" target="_blank" title="Twitter">
                <i class="fa-brands fa-x-twitter"></i>
            </a>

            <a href="https://www.youtube.com/" target="_blank" title="Youtube">
                <i class="fa-brands fa-youtube"></i>
            </a>
        </div>
        <p class="copy">2024 © John The Dog</p>
    </article>

    <article id="footerRight">
        <p class="titleFooter">Enlaces de Interés</p>
        <div class="fleft" id="EnlacesFooter">
            <a href="home#inicio">Inicio</a>
            <a href="home#about">Sobre</a>
            <a href="home#services">Servicios</a>
            <a href="home#footer"> Contacto</a>
        </div>
    </article>

</footer>