<h1 id="h1OperationCliente">{{ operation | titlecase }} Cliente</h1>
<!-- Formulario -->
 
<form #customerForm="ngForm" (ngSubmit)="saveClient(customerForm)">
    <div class="row  g-3">
        <div class="col form-floating mb-3">
            <input [(ngModel)]="formCustomer.nombre" type="text" class="form-control" id="nombre" 
                placeholder="Nombre" name="nombre">
            <label for="floatingInput">Nombre</label>
        </div>
        <div class="col form-floating mb-3">
            <input [(ngModel)]="formCustomer.cedula" type="text" class="form-control" id="cedula" placeholder="Cedula"
                name="cedula">
            <label for="floatingInput">Cedula</label>
        </div>
    </div>
    <div class="row g-3">
        <div class="col form-floating mb-3">
            <input [(ngModel)]="formCustomer.correo" type="email" class="form-control" id="correo" placeholder="Correo"
                name="correo" required pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #correo="ngModel">
            <label for="floatingInput">Correo</label>

            <div *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                <small *ngIf="correo.errors?.['required']" class="text-danger">El correo es requerido.</small>
                <small *ngIf="correo.errors?.['pattern']" class="text-danger">Ingresa un correo válido.</small>
            </div>
        </div>
        <div class="col form-floating mb-3">
            <input [(ngModel)]="formCustomer.celular" type="text" class="form-control" id="numero" placeholder="Numero"
                name="celular">
            <label for="floatingInput">Celular</label>
        </div>
    </div>
    <div class="row g-3">
        <div class="col form-floating mb-3">
            <input [(ngModel)]="formCustomer.direccion" type="text" class="form-control" id="direccion"
                placeholder="Dirección" name="direccion">
            <label for="floatingInput">Dirección</label>
        </div>
        <div class="col form-floating mb-3">
            <input [(ngModel)]="formCustomer.fotoString" type="text" class="form-control" id="foto"
                placeholder="Ingresa URL de la foto" name="fotoString">
            <label for="floatingInput">URL de la foto</label>
        </div>
     </div>
     
    <div class="mn-center-row">
        <button (click)="pageBack()" class="btn btn-danger">Volver</button>

        <button type="submit" id="btnSumitCliente" [disabled]="!customerForm.form.valid" class="btn btn-primary">{{
            operation | titlecase}}</button>
    </div>

</form>