<h1>{{ operation | titlecase }} Cliente</h1>
<!-- Formulario -->
<form #petForm="ngForm" (ngSubmit)="savePet(petForm)">
    <div class="form-floating mb-3">
        <input [(ngModel)]="formCustomer.nombre" type="text" class="form-control" id="floatingInput"
            placeholder="Nombre" name="nombre">
        <label for="floatingInput">Nombre</label>
    </div>
    <div class="form-floating mb-3">
        <input [(ngModel)]="formCustomer.cedula" type="text" class="form-control" id="floatingInput"
            placeholder="Cedula" name="cedula">
        <label for="floatingInput">Cedula</label>
    </div>
    <div class="form-floating mb-3">
        <input [(ngModel)]="formCustomer.correo" type="text" class="form-control" id="floatingInput"
            placeholder="Correo" name="correo">
        <label for="floatingInput">Email</label>

    </div>
    <div class="form-floating mb-3">
        <input [(ngModel)]="formCustomer.celular" type="text" class="form-control" id="floatingInput"
            placeholder="Numero" name="celular">
        <label for="floatingInput">Numero telefonico</label>
    </div>
    <div class="form-floating mb-3">
        <input [(ngModel)]="formCustomer.direccion" type="text" class="form-control" id="floatingInput"
            placeholder="Dirección" name="direccion">
        <label for="floatingInput">Dirección</label>
    </div>
    <div class="form-floating mb-3">
        <input [(ngModel)]="formCustomer.fotoString" type="text" class="form-control" id="floatingInput"
            placeholder="Ingresa URL de la foto" name="fotoString">
        <label for="floatingInput">Foto URL</label>
    </div>
    <br>

    <div class="mn-center-row">
        <button (click)="pageBack()"
            class="btn btn-danger">Volver</button>
        <button type="submit" [disabled]="!petForm.form.valid" class="btn btn-primary">{{ operation | titlecase}}</button>
    </div>

</form>
