<main>
    <section class="container">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" >
            <img src="../../../../public/images/avatar.png" alt="foto" width="70" height="70">

            <div class="form-group">
                <input type="text" id="txtCedula" class="form-input" name="cedula" required />
                <label for="txtCedula" class="form-label">Ingrese su cédula</label>
                <!-- <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> -->
            </div>

            <div class="form-group">
                <!-- Si necesitas añadir otros campos, pueden ir aquí -->
              </div>
            
              <div id="other-login">
                <a [routerLink]="['/login/veterinario']">Ingresar como veterinario</a>
              </div>
            
              <div class="layout">
                <div class="layout-remember">
                  <input class="form-check-input" type="checkbox" id="form2Example31" name="rememberMe" />
                  <label class="form-check-label" for="form2Example31"> Recordar login </label>
                </div>
                <div class="col">
                  <a href="#">¿Olvidó usuario?</a>
                </div>
              </div>
            
              <button type="submit" class="btnlogin btn-dark" [disabled]="!loginForm.valid" title="Ingresar">INGRESAR</button>
            </form>
    </section>
</main>