<!-- Servicios -->
<section id="services">
    <p class="title">Servicios de John The Cat</p>
    <p class="textos">En <span>John The Cat</span>, ofrecemos una amplia gama de servicios para asegurar el
        bienestar y la salud de tus
        mascotas. Nuestra dedicación y compromiso nos permiten proporcionar una atención integral y de alta
        calidad. Aquí están algunos de los servicios que ofrecemos:</p>

    <article id="servicesCenter">
        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <p>Medicina General</p>
                        <i class="fa-solid fa-tablets"></i>
                    </button>
                </h2>
                <div id="collapseOne" class="accordion- collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <P class="textos">
                            <span>Consultas de rutina:</span> Evaluaciones de salud regulares para detectar y
                            prevenir problemas médicos.
                            <br>
                            <span>Vacunación:</span> Programas de vacunación completos para proteger a tus
                            mascotas de enfermedades comunes.
                            <br>
                            <span>Desparasitación:</span> Tratamientos preventivos y curativos para parásitos
                            internos y externos.
                        </P>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <p>Cirugía</p>
                        <i class="fa-solid fa-syringe"></i>
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p class="textos">

                            <span>Cirugía General:</span> Procedimientos quirúrgicos rutinarios y de emergencia.
                            <br>
                            <span>Esterilización y Castración:</span> Cirugías para el control de la población y
                            la salud
                            reproductiva.
                            <br>
                            <span>Cirugía Ortopédica:</span> Reparación de huesos y articulaciones.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <p>Bienestar y Prevención</p>
                        <i class="fa-solid fa-heart"></i>
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p class="textos">
                            <span>Nutrición y Dietética:</span> Asesoramiento sobre la mejor alimentación para
                            tus mascotas.
                            <br>
                            <span>Control de Peso:</span> Programas para mantener un peso saludable.
                            <br>
                            <Span>Cuidados Geriátricos:</Span> Atención especial para mascotas mayores.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <p>Emergencias</p>
                        <i class="fa-solid fa-truck-medical"></i>
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p class="textos">
                            <span>Atención de Urgencias:</span> Servicios disponibles las 24 horas para
                            emergencias médicas.
                            <br>
                            <span>Hospitalización:</span> Cuidados intensivos para mascotas que requieren
                            observación y
                            tratamiento continuos de los servicios que ofrecemos:
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <p>Servicios de Diagnostico</p>
                        <i class="fa-solid fa-stethoscope"></i>
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p class="textos">
                            <span>Laboratorio:</span> Análisis de sangre, orina y otros fluidos corporales.
                            <br>
                            <span>Radiología y Ultrasonido:</span> Diagnóstico por imágenes para detectar
                            enfermedades
                            internas.
                            <br>
                            <span>Ecografías:</span> Evaluaciones detalladas para monitorear la salud interna de
                            tus
                            mascotas.
                        </p>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        <p>Servicios Adicionales</p>
                        <i class="fa-solid fa-scissors"></i>
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p class="textos">
                            <span>Peluquería y Estética:</span> Corte de pelo, baños y cuidado de uñas.
                            <br>
                            <span>Guardería y Hotel:</span> Alojamiento seguro y cómodo para tus mascotas cuando
                            estés fuera.
                            <br>
                            <span>Limpieza Dental:</span> Remoción de sarro y placa para prevenir enfermedades
                            bucales
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </article>


    <p class="textos">
        En <span>John The Cat</span>, nos esforzamos por ofrecer todos los servicios necesarios para asegurar
        que tus
        mascotas vivan vidas largas, saludables y felices. ¡Confía en nosotros para cuidar de tus amigos
        peludos!
    </p>
</section>

<div class="separator">
    <span class="separator-symbol">§</span>
</div>