
/* Estilos para la carta de información */
.info-pet {
    margin: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 55%;
    height: 43%;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(78, 0, 138, 0.295);
    padding: 25px 30px;
}
.info-pet .img-pet {
    width: 45%;
    height: 100%;
}
.img-pet img {
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(78, 0, 138, 0.295);
}
.info-pet .text-pet {
    width: 55%;
    height: 100%;
}
.form-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0px;
    padding: 3px 30px 15px 30px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(78, 0, 138, 0.295);
    font-family: "Baloo 2", sans-serif;
}


form legend {
    padding: 2px 5px;
    text-align: center;
    font-size: 1.2rem;
    color: #5E548E;
    font-family: "ABeeZee", sans-serif;
    flex-wrap: wrap;
    gap: 25px;
    overflow-x: auto;
    margin-top: 10px;
}
form label {
    position: relative;
    display: inline-block;
    margin: 15px 0 0 0;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 8px;
    width: auto;
}
label h3 {
    position: absolute;
    top: -12px; /* Ajusta la posición vertical */
    left: 45px;
    transform: translateX(-50%);
    background-color: #ffffff; /* Fondo para cubrir la línea del borde */
    padding: 0px 5px; /* Ajusta el espacio alrededor del texto */
    margin: 0;
    height: 20px;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    font-weight: 600;
    color: #421919;
}
label p {
    font-size: 1.1rem;
    margin: 0;
    padding: 4px 15px 1px 15px;
    color: rgb(82, 82, 82);
}
