.pet-treatment {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 35px;
    width: 100%;
    height: 100%;
}

/* Estilos para la carta de información */
.info-pet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 48%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(78, 0, 138, 0.295);
    padding: 25px;
}

.info-pet .primary-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 100%;
}

.primary-data img {
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(78, 0, 138, 0.295);
    margin-bottom: 15px;
}

.primary-data img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.text-pet {
    width: 55%;
    height: 100%;
}

.form-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: 0px;
    padding: 6px 20px 14px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(161, 161, 161, 0.295);
    font-family: "Baloo 2", sans-serif;
    margin: 0 10px 0 10px;
}

label {
    position: relative;
    display: inline-block;
    margin: 15px 0 0 0;
    border: rgb(189, 189, 189) 1px solid;
    border-radius: 8px;
    height: 31px;
    width: 100%;
}

label h3 {
    position: absolute;
    top: -12px; /* Ajusta la posición vertical */
    left: 13px;
    background-color: #ffffff; /* Fondo para cubrir la línea del borde */
    padding: 0px 5px; /* Ajusta el espacio alrededor del texto */
    margin: 0;
    height: 20px;
    font-size: 14px; /* Ajusta el tamaño de la fuente */
    font-weight: 200;
}

label p {
    font-size: 1.1rem;
    margin: 0;
    padding: 3px 14px 1px 14px;
    color: rgb(82, 82, 82);
}




.info-treatment {
    display: flex;
    flex-direction: column;
    width: 48%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 1px 10px rgba(78, 0, 138, 0.295);
    padding: 15px 20px;
    margin: 0px;
    background-color: #fff;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-family: "ABeeZee", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5E548E;
    margin-bottom: 4px;
    width: 100%;
}

.form-treatment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: 0px;
    padding: 6px 20px 14px 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 1px 10px rgba(161, 161, 161, 0.295);
    font-family: "Baloo 2", sans-serif;
    margin: 0 10px 0 10px;
}

.line {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    margin: 0px;
    padding: 0px;
    gap: 10px;
}

.btn-treatment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    margin-top: 10px;
    padding: 0px 10px;
}

.btn {
    font-weight: 400;
    width: 84px;
    height: 30px;
    padding: 0px;
    font-size: 1rem;
    border-radius: 8px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #5E548E;
    border-color: #5E548E;
}