<section class="items_table">
    <div class="tableCenter" *ngFor="let item of ($any(isCustomer ? customers : pets))">
    <img [src]="item.fotoString" width="90" height="90" [alt]="'Foto de ' + item.nombre">
        <div>
            <h2>{{ item.nombre }}</h2>
            <p *ngIf="isCustomer">CC: {{ item.cedula }}</p>
            <p *ngIf="isPet">Raza: {{ item.raza }}</p>
        </div>
        <div class="info">
            <a [routerLink]="isCustomer ? ['/veterinario/detalles/cliente', item.id] : ['/veterinario/detalles/mascota', item.id]">
                <button class="btn btn-dark">
                    <i class="fa-solid fa-circle-info"></i>
                </button>
            </a>
            <button class="btn btn-danger" (click)="deleteItem(item)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
</section>