<!-- TABLA -->
<section class="clientes_table">
    <!-- Taarjetas  -->
    <div class="tableCenter" *ngFor="let cliente of customersList">
        <!-- imagen -->
        <img [src]="cliente.fotoString" width="90" height="90" [alt]="'Foto de ' + cliente.nombre">
        <!-- Información -->
        <div>
            <h2>{{ cliente.nombre }}</h2>
            <p>CC: {{ cliente.cedula }}</p>
        </div>
        <!-- botones -->
        <!-- Botones -->
        <div class="info">
            <!-- Botón para ver detalles -->
            <a [routerLink]="['/veterinario/detalles-cliente/', cliente.id]">
                <button class="btn btn-dark">
                    <i class="fa-solid fa-circle-info"></i>
                </button>
            </a>

            <!-- Botón para eliminar -->
            <button class="btn btn-danger" (click)="deleteStudent(cliente)">
                <i class="fa-solid fa-trash-can"></i>
            </button>
        </div>
    </div>
</section>