<!-- HEADER -->
<header>
    <!-- Navbar -->
    <div class="logout-layout">
        <a th:href="@{/login/veterinario}" title="Logout">
            <img src="/images/logout.png" alt="logout" width="50px">
        </a>
    </div>
    <div class="columns-nav">
        <nav class="first-nav">
            <ul>
                <li><a [routerLink]="['/veterinario/tratamientos']" routerLinkActive="active">Tratamientos</a></li>
                <li><a [routerLink]="['/veterinario/mascotas']" routerLinkActive="active">Mascotas</a></li>
                <li><a [routerLink]="['/veterinario/clientes']" routerLinkActive="active">Clientes</a></li>
            </ul>

            <div class="datos-vet">
                <h1>Dr. Lorena García Garavito Suarez</h1>
            </div>
        </nav>

        <nav class="second-nav">
            <p>Veterinario</p>
        </nav>
    </div>

    <div class="header-logo">
        <img src="/images/persona.png" alt="foto" width="100" height="100">
    </div>
</header>