/* Estilos para el contenedor del logo, nav y login*/
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 20vh;
    background-color: #ffffff;
    z-index: 10;
    border-radius: 35px;
    margin: 10vh 15vh 0 15vh;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.068);
    transition: transform 0.3s ease, top 0.3s ease, opacity 0.5s ease;
    opacity: 1;
}

.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

/* Estilos para las cajas del logo y login */
.square {
    border-radius: 35px;
    text-align: center;
    padding: 0 30px;
    width: auto;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

/* Estilos para el botón de Login */
.square .btn-primary {
    border-radius: 10px;
    text-align: center;
    background-color: #5E548E;
    border: none;
    color: white;
    text-decoration: none;
    margin: 0, 40px;
    font-size: 22px;
    font-size: 20px;
    transition: transform 0.5s ease;
}

.square img {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.square img:hover,
.square .btn-primary:hover {
    transform: scale(1.1);
}

/* Estilos para el nav */
nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    border-radius: 40px;
    text-align: center;
    width: 133vh;
    height: 20vh;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}

nav ul li {
    width: 110px;
    height: 30px;
    list-style: none;
    transition: transform 0.5s ease, border-radius 0.5s ease;
    text-align: right; /* Centrar hacia la derecha */
}

nav ul li a {
    padding-right: 10px;
    margin: 0;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    border-right: #352663 5px solid;
    color:#5E548E;
    transition: all 0.2s ease;
    transform: scale(1.1);
}
