* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 94vh;
    /* Ocupa el 100% de la altura de la ventana del navegador */
    width: 100%;
    margin: 0;
    font-family: "Baloo 2", sans-serif;
}


body::-webkit-scrollbar {
    width: 7px;
    background-color: #5E548E;
    border-radius: 16px;
}

body::-webkit-scrollbar-thumb {
    background-color: #9F86C0;
    border-radius: 16px;
    transition: .3 ease;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: "ABeeZee", sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.mg-10{
    margin: 10px;
}

.mg-5{
    margin: 5px;
}

.round-border{
    border-radius: 5px;
}